#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculate-container {
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 1rem auto;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 8px;
}

button {
  background-color: lightblue;
}

button:hover {
  background-color: deepskyblue;
  cursor: pointer;
}
